---

---

<nav class='navbar'>
  <ul class='navigation-list'>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>All Categoreis</span>
      </a>
    </li>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>Mobiles</span>
      </a>
    </li>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>Electronics</span>
      </a>
    </li>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>Categorey#</span>
      </a>
    </li>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>Categorey#</span>
      </a>
    </li>
    <li class='navigation-link'>
      <a href='/'>
        <span class='navigation-title'>Categorey#</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  .navigation-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.2rem;
  }
</style>
