---
//Imports

import StoreCard from './component/StoreCard.astro'
---

<section class='stores'>
  <h4 class='section-title'>Our store on</h4>
  <p class='section-description'>You can find us on</p>

  <div class='stores-grid'>
    <StoreCard title='Amazon' />
    <StoreCard title='noon' />
    <StoreCard title='Jumia' />
  </div>
</section>
