---
// <!-- Styles Import -->
import '../styles/global.css'

// Components Import
import Footer from '../components/UiComponents/Footer/Footer.astro'
import WhatsApp from '@components/WhatsAppChat/WhatsApp.tsx'

import TopHeader from '../components/TopHeader/TopHeader.astro'

import Navigation from '@components/Navbar/Navbar'

// props & props interface
interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />

    <!-- <link rel="icon" type="image/x-icon" href={"/images/favicon.jpg"} /> -->
    <title>{title}</title>
    <meta name='description' content={description} />
  </head>
  <!-- <Navbar /> -->
  <!-- <Navbar /> -->
  <body>
    <!-- <Navigation client:load /> -->

    <slot name='after-navigation' />

    <div class='main-container'>
      <slot />
    </div>
    <!-- <Footer /> -->
    <Footer />
    <!-- <WhatsApp client:load /> -->
  </body>

  <style>
    .main-container {
      --padding-inline-main-container: 5rem;
      --padding-inline-main-container: 3.75rem;
      margin-block: 0;
      margin-inline: auto;
      max-width: var(--max-width);
      padding-inline: var(--padding-inline-main-container);
    }

    /* ------> Responsive Padding Media Queries  */

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .main-container {
        padding-inline: 40px;
      }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      .main-container {
        padding-inline: 30px;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 480px) {
      .main-container {
        padding-inline: 20px;
      }
    }

    /*  Responsive Padding Media Queries  End <------ */
  </style>
</html>
